/*
	font-family: "Jost", sans-serif;
	font-family: "Quicksand", sans-serif;

 */

 /* Google font */
 @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');


* {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	font-size: 100%;
	line-height: inherit;
}

.page-wrapper {
	position: relative;
	width: 100%;
	min-width: 320px;
	z-index: 9;
	margin: 0px auto;
	overflow: hidden;
}
body {
	font-size: 16px;
	color: var(--text-color-2);
	line-height: 24px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-family: "Jost", sans-serif;
}
::selection {
    background-color: var(--secondary-color);
    color: var(--white-color);
}
.p_relative {
    position: relative !important;
}
a{
	display: inline-block;
}
a,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: var(--text-color-1);
  font-family: "Jost", sans-serif;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: var(--secondary-color);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	position: relative;
	font-weight: normal;
	margin: 0px;
	font-family: "Jost", sans-serif;
	color: var(--black-color);
}

h1, .h1 {
	font-size: 68px;
	font-weight: 500;
	line-height: 76px;
}

h2, .h2 {
	font-size: 56px;
	font-weight: 500;
	line-height: 65px;
}

h3, .h3 {
	font-size: 35px;
	font-weight: 500;
	line-height: 55px;
}

h4, .h4 {
	font-size: 24px;
	font-weight: 600;
	line-height: 40px;
}

h5, .h5 {
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
}

h6, .h6 {
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
}

p {
	font-size: 16px;
	line-height: 24px;
	color: var(--text-color-1);
	font-family: "Jost", sans-serif;
    margin-bottom: 0;
}

textarea {
	overflow: hidden;
}
button {
	outline: none !important;
	cursor: pointer;
}
section {
	position: relative;
	z-index: -1;
}
::-webkit-input-placeholder {
	color: inherit;
}
::-moz-input-placeholder {
	color: inherit;
}
::-ms-input-placeholder {
	color: inherit;
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.row.no-gutters {
	margin: 0;
}
.row-15 {
	margin-left: -7.5px;
	margin-right: -7.5px;
}
.row-20 {
	margin-left: -10px;
	margin-right: -10px;
}

.row-15 {
	margin: 0 -15px;
}
.row>* {
	padding: 0 15px;
}
.row.no-gutters>* {
	padding: 0;
}
.row-15>* {
	padding: 0 7.5px;
}
.row-20>* {
	padding: 0 10px;
}
.nav-tabs .nav-link {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
}
.nav-tabs {
	border: 0;
}

.container{
	position: static;
	max-width: 1520px;
	padding: 0px 15px;
	margin: 0 auto;
}

.custom-container {
	position: static;
	max-width: 1386px;
	padding: 0px 15px;
	margin: 0 auto;
}

ul, li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
figure {
	margin-bottom: 0;
}
img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.dropdown-toggle::after {
	display: none;
}
.fa {
	line-height: inherit;
}


/* Preloader */
.handle-preloader {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	-webkit-justify-content: center;
	position: fixed;
	background: var(--bg-3);
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999999;
  }

  .preloader-close{
	position: fixed;
	z-index: 99999999;
	font-size: 26px;
	background: white;
	color: var(--black-color);
	width: 40px;
	height: 40px;
	line-height: 36px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	right: 30px;
	top: 30px;
  }

  .preloader-image {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: -50px;
}

  .handle-preloader .animation-preloader {
	position: absolute;
	z-index: 100;
  }

  .handle-preloader .animation-preloader .spinner{
	animation: spinner 1s infinite linear;
	border: 3px solid var(--black-color);
	border-top-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin: 0 auto 45px auto;
  }
  .handle-preloader .animation-preloader .txt-loading {
	text-align: center;
	user-select: none;
  }

  .handle-preloader .animation-preloader .txt-loading .letters-loading:before{
	animation: letters-loading 4s infinite;
	content: attr(data-text-preloader);
	left: 0;
	opacity: 0;
	top:0;
	position: absolute;
  }

  .handle-preloader .animation-preloader .txt-loading .letters-loading {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    letter-spacing: 15px;
    display: inline-block;
    position: relative;
    font-size: 54px;
    line-height: 65px;
    text-transform: uppercase;
 }

  .preloader .loaded .animation-preloader {
	opacity: 0;
	transition: 0.3s ease-out;
  }

  .handle-preloader .animation-preloader .txt-loading .letters-loading{
	color: var(--black-color);
  }

  .handle-preloader .animation-preloader .txt-loading .letters-loading:before{
	color: var(--black-color);
  }


  /* Animation preloader */
  @keyframes spinner {
	to {
	  transform: rotateZ(360deg);
	}
  }
  @keyframes letters-loading {
	0%,
	75%,
	100% {
	  opacity: 0;
	  transform: rotateY(-90deg);
	}

	25%,
	50% {
	  opacity: 1;
	  transform: rotateY(0deg);
	}
  }


  @media screen and (max-width: 767px) {
	.handle-preloader .animation-preloader .spinner {
	  height: 8em;
	  width: 8em;
	}
  }
  @media screen and (max-width: 500px) {
	.handle-preloader .animation-preloader .spinner {
	  height: 7em;
	  width: 7em;
	}
	.handle-preloader .animation-preloader .txt-loading .letters-loading {font-size: 30px; letter-spacing: 10px;}
  }


/* =====================
    button starts
========================*/
.btn-1 {
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: .5s;
	color: var(--white-color);
	padding: 15px 30px;
	border-radius: 5px;
	background-color: var(--secondary-color);
	font-size: 17px;
	text-transform: capitalize;
	font-weight: 500;
  }

  .btn-1 span {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	color: var(--white-color);
	border-radius: 50%;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
	transform: translate(-50%, -50%);
	background: var(--black-color);
	z-index: -1;
  }

  .btn-1:hover span {
	width: 225%;
	height: 562.5px;
	z-index: -1;
  }

  .btn-1:hover, .btn-1:active, .btn-1:focus {
	color: var(--white-color) !important;
	z-index: 1;
	position: relative;
  }

/* btn-2 */
.btn-2{
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: .5s;
	color: var(--text-color-1);
	padding: 10px 18px;
	border-radius: 4px;
	background-color: var(--white-color);
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 400;
}
.btn-2 span {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	color: var(--white-color);
	border-radius: 50%;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
	transform: translate(-50%, -50%);
	background: var(--secondary-color);
	z-index: -1;
  }

  .btn-2:hover span {
	width: 225%;
	height: 562.5px;
	z-index: -1;
  }

  .btn-2:hover {
	color: var(--white-color) !important;
	z-index: 1;
	position: relative;
  }

/* btn-3 */
.btn-3{
	position: absolute;
	bottom: -18px;
	right: -18px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid #CBCBCB;
	color: var(--white-color);
	background-color: transparent;
	transition: 0.5s;
	transition-delay: 0.2s;
}
.btn-3:hover{
	transform: rotate(45deg);
}
  /* =======================
	  button ends
  ==========================*/


/* =========================
	common title
============================ */
.common-title{
	margin-bottom: 50px;
	text-align: center;
}
.common-title h3{
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
}
/* =========================
	common title
============================ */

/* =========================
	ribon
============================ */
.ribon-container {
    position: absolute;
    top: 20px;
    left: 20px;
}
.ribon-container ul{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ribon {
    color: var(--white-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
	text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ribon-light-green{
	background-color: #64BF99;
}
.ribon-red{
	background-color: #61ce70;
}
.ribon-green{
	background-color: #6C7152;
}
.ribon-pest{
	background-color: #177F91;
}
/* =========================
	ribon
============================ */


/* scroll to top */
.prgoress_indicator {
	position: fixed;
	right: 50px;
	bottom: 75px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset 0 0 0 2px rgba(22, 93, 245, 0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	transform: translateY(15px) !important;
	transition: all 200ms linear !important;
}
.prgoress_indicator.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0) !important;
}
.prgoress_indicator i {
	position: absolute;
	text-align: center;
	line-height: 46px;
	font-size: 18px;
	color: var(--secondary-color);
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	font-weight: 900;
	z-index: 1;
	transition: all 200ms linear !important;
}
.prgoress_indicator svg path {
	fill: none;
}
.prgoress_indicator svg.progress-circle path {
	stroke: var( --secondary-color);
	stroke-width: 4;
	box-sizing: border-box;
	transition: all 200ms linear !important;
}

/* swiper style one */
.swiper-style-one .slider__pagination{
	text-align: center;
	margin-top: 60px;
	position: relative;
}
.swiper-style-one .slider__pagination span{
	margin: 0 8px;
}
.swiper-style-one .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #222;
    opacity: 1;
}
.swiper-style-one .swiper-pagination-bullet-active {
    position: relative;
    opacity: 1;
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
.swiper-style-one .swiper-pagination-bullet-active::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var( --secondary-color);
    background: transparent;
    position: absolute;
    top: -6px;
    left: -6px;
}


/* rating */
.rating-one ul{
	display: flex;
	align-items: center;
	gap: 5px;
}
.rating-one ul li i{
	color: #FFC93D;
}
/* rating */


/* paigination */
.paigination ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.paigination ul li a{
    border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	color: var(--black-color);
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 5px;
	border: 1px solid #D9D9D9;
}
.paigination ul li a:hover{
	background-color: var(--secondary-color);
	color: var(--white-color);
}
.paigination ul li a i{
	font-weight: 700;
	font-size: 14px;
}
.paigination .dot p {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #E0E0E0;
	margin-top: -12px;
}
/* paigination */


/* scroll bar */
::-webkit-scrollbar {
    width: 5px;
	height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color); /* color of the scrollbar handle */
    border-radius: 5px; /* roundness of the handle */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); /* color of the scrollbar handle on hover */
  }
  /* scroll bar */
