/* Default Color File  */

:root {

    /* secondary color*/
    --secondary-color: #61CE70;
    --secondary-color-rgb: 247, 107, 106;

    /* text-color 1 */
    --text-color-1: #686868;

    /* text-color 2 */
    --text-color-2: #666;

    /* black color */
    --black-color: #222;

    /* white color */
    --white-color: #ffffff;
    --white-color-rgb: 255, 255, 255;

    /* Bg 1 */
    --bg-1: #F7F7F7;

    /* Bg 2 */
    --bg-2: #F9FEF9;

    /* Bg 3 */
    --bg-3:  #EBF2F6;


    /* Shadow 1 */
    --shadow-1: 2px 1px 28.7px -2px rgba(155, 155, 155, 0.15);

}











