.categories-content{
    text-align: center;
}
.categories-content-image{
    width: 223px;
    height: 223px;
    border-radius: 50%;
    background-color: #F7FAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.categories-info h5{
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.categories-info-rating ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.categories-info-rating ul li{
    color: #F7CB73;
    font-size: 12px;
}

/* trending-categories */
.trending-categories{
    padding: 120px 0 120px;
}
.trending-categories-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 223px;
    height: 258px;
    border-radius: 8px;
    border: 1px solid #EDF2F6;
}
/* trending-categories */

/* ----------------------------------------
Responsive
------------------------------------------- */
/* Large screen  */
@media only screen and (min-width: 1200px) and (max-width: 1319px) {
    
}
/* Medium screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px){

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px){

}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px){

}
/* ----------------------------------------
Responsive
------------------------------------------- */